body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

button {
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0077cc;
}
